:root{
    --primary-color: #CA5C4A;
    --secondary-color: #FFB6A5;
    --background-color: #FFD1BD;
    --text-color: #993854;
}


/* Reset some default styles for consistent rendering */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #333;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 2em 0;
}

.header-image {
    display: block;
    width: 100%; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0.5em 0;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--background-color);
    color: #fff;
}

/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Set the container to full viewport height */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Push footer to the bottom */
.main-content {
    flex-grow: 1;
    padding: 20px; /* Add some spacing */
}

.footer {
   
    color: var(--text-color);
    text-align: center;
    padding: 40px;
}

